<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Pogo" connectionString="DatasetId = wide-strength-571; CertificateFilePath = C:\Temp\a24c4d590ab6e099dfa1f0a7b60770a8f875740c-privatekey.p12; ServiceAccountId = 353013483293-0bid8cf4h0gn2apklqbv4u4ef12290ab@developer.gserviceaccount.com; CertificatePassword = notasecret"/>
  </connectionStrings>
</configuration>